body { 
    background-color: #090909; /* FORCE BRAVE BROWSERS BG COLOUR WHILE USING DARK MODE */
    color: #d8dbe0;
    font-family: Roboto;
    font-size: 12px;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

div {
    display: flex;
}

.hidden {
    display: none !important;
}

.clickable {
    cursor: pointer;
}



#aiChat {
    height: 100%;
    width: 100vw;
}

#AIChatContainer {
    transition: 333ms;

    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    transform: translateX(-100vw);
    width: 100vw;
    z-index: 15;
}

.AIChatContainerShow {
    transform: translateX(0) !important;
}

#closeChat {
    background: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    position: absolute;
    top: 20px;
}
#closeChat:hover {
    background: #0056b3;
}

#comboList {
    background-color: #000000EE;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    padding: 10px;
    position: absolute;
    right: 10px;
    row-gap: 5px;
    top: 10px;
    width: 250px;
}

.copyIcon {
    cursor: pointer;
}

#darkenContainer {
    transition: 750ms;

    opacity: 0;
    background-color: #000000f0;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: -1;
}

.dC_show {
    transition: 333ms;

    opacity: 1 !important;
    z-index: 10 !important;
}

#dustCanvas {
    filter: blur(3px);
    position: absolute;
    left: 0;
    opacity: 0.5;
    top: 0;
    z-index: -100;
}

.error {
    padding: 5px;
    background-color: #770000;
    color: white;
}



.hlMPButton {
    background: linear-gradient(45deg, rgba(20,126,167,1) 0%, rgba(20,126,167,1) 0%, rgba(255,255,255,1) 50%, rgba(20,126,167,1) 100%);
}


#mainPageContainer {
    display: flex;
    flex-direction: column;
}

.subContainer {
    flex-wrap: wrap;
}

.button {
    transition: 333ms;

    align-items: center;
    background-color: #ffffff;
    border: 6px solid #147ea7;
    border-radius: 30px;
    color: #1c1c1c;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin: 20px;
    padding: 10px;
    width: 200px;
}

.button:hover {
    scale: 1.1;
    transform: perspective( 600px ) rotateY( 33deg );
}

.button_dark {
    background-color: #242424 !important;
    color: #bbbbbb !important;
}


#currentIPContainer {
    font-size: 16px;
    color: #777777;
    position: fixed;
    left: 5px;
    bottom: 5px;
}

.cIPC_vpn {
    color: #30ff30 !important;
}

#closeYTDLP {
    transition: 333ms;

    color: #d74802;
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    right: 10px;
    top: 10px;
}

#closeYTDLP:hover {
    transition: 333ms;

    color: red;
    scale: 1.25;
}

#newYTDLContainer {
    transition: 333ms;

    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    offset: 0;
    opacity: 0;
    overflow-y: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: -10;
}

.newYTDLContainerShow {
    transition: 333ms;

    opacity: 1 !important;
    z-index: 9 !important;
}

#nYTDLIFrame {
    width: 100vw;
    height: 100vh;
    display: flex;
}

#showDiaryContainer {
    flex-direction: column;
    margin-top: 30px;
    max-width: 1400px;
    padding: 20px 10px;
    width: 90%;
}


.response_error {
    color: #ff3030;
}

.response_valid {
    color: #30ff30;
}

.response_unknown {
    color: #ff8030;
}

#smallPopUp {
    transition: 500ms;

    background-color: #111111;
    border: solid 1px #333333;
    bottom: 0;
    flex-direction: column;
    font-size: 18px;
    padding: 10px;
    position: fixed;
    right: 0;
    transform: translateX(101vw);
    z-index: 999;
}

.smallPopUpSlideIn {
    transform: translateX(0) !important;
}